* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    background-color: antiquewhite;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    & h1 {
        font-size: 5rem;
        font-weight: 100;
        font-style: italic;
    }
}